<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Will Cameron</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/styles/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/assets/styles/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/assets/styles/custom.css" media="screen" title="no title" charset="utf-8">
  </head>

  <body>
    <!-- start page container -->
    <div class="container">
      <div class="row">
        <div class="one-half column">Title</div>
        <div class="one-half column">
          <div class="u-pull-right">            
            <a href="/posts">link</a>
          </div>
        </div>

        </div>
