
/*
The content `<div>` is where all your content goes.
*/
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  line-height: 1.6em;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}

.posts-list {
  margin: 1em 0 2em 0;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */
@media (min-width: 48em) {
  #page {
    min-height: calc(100vh - 160px);
  }
  .page-content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    line-height: 1.6em;
  }

}

@media (max-width: 48em) {
  #page {
    min-height: calc(100vh - 160px);
  }
  .content {
    padding: 0 1em;
  }
  .page-content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    line-height: 1.6em;
  }

}
