$primary: #58C0E8;
$secondary: #E8A13F;
$footerHeight: 90px;
$headerHeight: 70px;
$fontColor: #3b444b;

html, body {
  height: 100%;
}
body {
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  color: $fontColor !important;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
h1, h2 {
  font-family: 'Oswald', sans-serif !important;
  a {
    font-family: 'Oswald', sans-serif !important;
  }
}
h3, h4, h5 {
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;

  &.header-link,
  &.header-title,
  &.footer-link {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    text-decoration: underline;
  }
}
nav {
  // display: flex;
  // flex-direction: row;
  min-height: $headerHeight;
  height: $headerHeight;
  width: 100%;
  background-color: $secondary;
}
footer {
  // display: flex;
  position: relative;
  height: $footerHeight;
  min-height: $footerHeight;
  width: 100%;
  background-color: $primary;
}
.main-title {
  margin-bottom: 25px;
}
.mg-t-15 {
  margin-top: 15px;
}

.body {
  flex-direction: row;
  flex: 1;
  // overflow: auto;
}
.post-body {
  margin: 25px 0;
}
.post-item {
  margin-bottom: 20px;
}
.flex {
  display: flex;
}
.flex-fluid {
  flex: 1;
}
.full {
  flex: 1 0 100%;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}
.around {
  justify-content: space-around;
}
.between {
  justify-content: space-between;
}
.middle {
  align-items: center;
}
.end {
  align-items: flex-end;
}
.self-end {
  align-self: flex-end;
}
.self-start {
  align-self: flex-start;
}
.wrap {
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
}

.equalHMWrap {
	justify-content: space-between;
}
.vertical-fill {
  height: 100%;
}
.next, .prev {
  border: 1px solid #E1E1E1;
  border-radius: 10px;
}
a {
  &.prev, &.next {
    padding: 10px;
  }
  &.prev:hover, &.next:hover {
    background-color: #E1E1E1;
    text-decoration: none;
  }
}
.primary {
  color: $primary !important;
}
.secondary {
  color: $secondary !important;
}

.post-nav {
  min-height: 50px;
  min-width: 80px;
  border-radius: 5px;
  border: 1px solid $fontColor;
}

.nav-item:not(:last-child) {
  margin-right: 14px;
}
