    </div>
    <!-- End container -->
    <div class="row">
      <footer>
        <div class="container">
          <a href="/">home</a>
        </div>
      </footer>      
    </div>
  </body>
</html>
