      </div>
    </div>
    <!-- End container -->
    <div class="footer">
      <div style="margin-bottom: 0 !important;" class="content vertical-fill flex-row">
        <div class="flex-row flex-fluid middle between">
            <h5>Built with <a target="_blank" class="footer-link" href="http://www.metalsmith.io/">Metalsmith</a></h5>
          <!-- <a class="footer-link" href="/">home</a> -->
          <a target="_blank" class="footer-link" href="http://github.com/camerow/blog">source</a>
        </div>
      </div>
    </div >
  </body>
</html>
